#Red{
  background-color : red;
  width: 50px;
  height: 50px;
}
#Blue{
  background-color: blue;
  width: 50px;
  height: 50px;
}

#Green{
  background-color: green;
  width: 50px;
  height: 50px;
}
